# Virtual Environment
.venv/
venv/
__pycache__/

# IDE / Editor specific
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Logs and experiment outputs
runs/
logs/

# Checkpoints and saved models
checkpoints/
models/

# Generated videos and images
videos/

# Colab and Jupyter specific
.ipynb_checkpoints/
